*{font-family:'HelveticaNeue', sans-serif!important;margin: 0;padding: 0;}
.glyphicon{font-family: 'Glyphicons Halflings'!important;}
.fa{font-family: 'FontAwesome'!important;}
html,body{border: 0;background-color: #fff;}
html{font-size: 62.5%;overflow: scroll;text-size-adjust:none;-ms-text-size-adjust:100%;}
img{max-width:100%;}
body{
	line-height:1.4;
	font-size: 14px;
	color:#000000;
	overflow-x: hidden;
	background : #fff;
	position: initial !important;
}	
.pro-loop a {display:block;}
.pro-loop .product-detail {padding: 20px 0;}
.pro-loop .product-img{
	text-align: center;
	position:relative;
	overflow: hidden;
}
.pro-loop .product-img .product-sale,.pro-loop .product-img .sold-out{
	position: absolute;
	top: 10px;
	font-size: 12px;
	line-height: 1;
	padding: 5px 10px;
	font-weight: bold;
	z-index: 9;
	color: #000000;
	background: #fff;
}
.pro-loop .product-img .product-sale {left: 10px;color:#f94c43;}
.pro-loop .product-img .sold-out {right: 10px;}
.pro-loop .product-img .sold-out span{opacity: .66;}
.product-detail .box-pro-detail{z-index: 9;width: 100%;}
.pro-loop .product-detail h3 {
	margin: 0 0 5px;
	font-size:14px;
	position: relative;
}
.pro-loop .product-detail h3 a {
	line-height: 16px;
	text-align: center;
}
.pro-price-mb {display:none;}
p.pro-price {color:#000000;font-size: 14px;margin: 0;font-weight: 700; text-align: center;}
p.pro-price.highlight{color:#f94c43;}
p.pro-price span.pro-price-del {color:#939393;font-size: 13px;margin-left: 5px;}
.pro-loop .product-img .button-add {
	width:100%;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 37%;
	/* transform: translateY(-37%); */
	transition: all ease 0.5s;
	transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.pro-loop .product-img button {
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	border: 0;
	background: #191919;
	color: #fff;
	padding: 6px 20px;
}
.pro-loop .product-img button i{margin-left: 8px;font-size: 14px;}
.pro-loop .product-img picture{
	transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.pro-loop .product-img picture:nth-of-type(2){
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0;
	visibility: hidden;
}
#wrappers {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 10vh;
  
}
#headers {
    width: 100%;
    padding:0px 30px;
    margin-top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#logo
{
    max-width: 150px;
    height: auto;
    padding-top: 15px;
    padding-left: 10px;
}

#menu .item {
    margin:0px 25px;
}
#menu .item3 {
    margin:0px 25px;
}

#menu .item1 {
    margin:0px 25px;
}

#action {
    display: flex;
}

#action .item3 {
    margin-left:22px;
}
.container
{
    max-width: 960px;
    margin: 0px auto;
}
#menu
{width: 100%;
    padding:0px 50px;
    margin-top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    list-style:none;
    display: flex;  
}
nav
{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.mtq1
{  position: relative;
    z-index: 20;
  
} 
.productDetail-page
{
    z-index: 10;
}

#main-menu
{
    display: flex;
    list-style: none;
    margin:0 ;
    padding: 0;
}
/* Menu cha của ul.sun-menu 
làm chuẩn cho ul.sub*/
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: #110e0e;
    display: block;
    padding: 18px 20px;
    /* gạch chân -> bỏ */
    text-decoration: none;
}

#main-menu ul.sub-menu
{
    position:absolute;
    background-color: #e2e4e7;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    display: none;

}
#main-menu li:hover>ul.sub-menu
{
    display: block;
}

/* con của main menu */
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid rgb(63, 61, 61);

}
#main-menu ul.sub-menu  li:hover a{
    border-bottom: 1px solid rgb(70, 66, 66);
    
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
    
}
/* Thiết lập border khi hover */
#main-menu >li>a{
    position: relative;
    
}
#main-menu >li>a::before{
    content: "";
    height: 4px;
    width: 0;
    background: rgb(214, 93, 93);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition:0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}
#main-menu li:hover>a::before{
    width: 100%;
    
}
#menu .item2 {
    margin:0px 25px;
    border-bottom: 1px solid #111111;
    width: 300px;


}

#menu .item a {
    color:#070707;
    text-decoration: none;
}

#menu .item1 a {
    color:#0a0a0a;
    text-decoration: none;
}
#icon2
{
    background: transparent;
    color: #080808;
    border: 0;
    /* đường viền */
    outline:1px
    ;
    flex-grow: 1;
}
.main-body{
	position: relative;
	right:0;
	text-rendering: optimizeLegibility;
	-ms-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.product-detail-wrapper {padding: 0px 0;}
.site-nav.style--sidebar {
	position: fixed;
	width: 480px;
	height: 100vh;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 8888;
	overflow: hidden;
	-ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
	transform: translateX(100%);
}
.site-nav.style--sidebar .site-nav-container {
	width: calc(100% + 20px);
	height: 100%;
	overflow-y: scroll;
	overflow:scroll;
}
.site-nav.style--sidebar .site-nav-container-last {
	width: calc(100% - 0px);
	position: relative;
	overflow: hidden;
	min-height: 100%;
	padding: 60px 70px 250px;
}
.box-pro-detail .content-image-color {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}
.box-pro-detail .content-color {
	display: inline-block;
	margin: 5px 2px;
}
.box-pro-detail .content-color a {
	max-width: 45px;
	padding: 3px;
	border-radius: 2px;
}

/* /* ------------------------ Style variant ------------------------ * */
.product-image-detail ul {margin:0;}
.selector-wrapper,.select {display: none;}
.swatch { padding:10px 0;width: 100%; float: left;border-bottom: 1px dotted #dfe0e1;}
.swatch .header{
	margin:0 0 8px;
	font-size:13px;
	text-align:left;
	line-height: initial;
}
.swatch input { display:none;}
.swatch > label.tt-label {
	margin-right: 10px;
	font-size: 14px;
	font-weight: 500; 
	vertical-align: middle;
	text-transform: uppercase;
	width: 85px;
	text-align: right;
}
.swatch .select-swap {display: inline-block;	vertical-align: middle;}
.swatch input {display: none;}
.swatch .swatch-element {display: inline-block;	margin-right: 8px;position: relative;vertical-align: bottom;}
.swatch .swatch-element label{
	display: block;
	margin: 0;
	background: #fff;
	padding:0px 10px;
	margin-bottom:10px;
	min-width:30px;
	height: 40px;
	line-height: 40px;
	position: relative;
	border: 1px solid #e5e5e5;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}
.swatch .swatch-element.color.soldout label span {overflow: hidden;position: relative;}
.swatch .swatch-element.color.soldout label span:before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 50%;
	height:50%;
	
	background-size: contain;
}
.swatch .swatch-element.soldout label{opacity:0.5}
.swatch .swatch-element.color label{
	width: 60px;
	height:60px;
	padding:3px;
	border-radius: 50%;
	border: none;
}
.swatch .swatch-element.color span {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 0;
	font-size: 0;
	border-radius: 50%;
	border: 1px solid #dfe0e1;
}
.swatch .swatch-element.color label.sd {background: transparent;border:1px solid #808284}
.swatch .swatch-element label.sd{
	border: 1px solid #000;
	background: #000;
	color: #fff;
}
.swatch .swatch-element.soldout:not(.color) label {overflow: hidden;}

/* MTQ */
  
        html {
            font-family: sans-serif;
           text-size-adjust: 100%;
            -ms-text-size-adjust: 100%
        }

        body {
            margin: 0
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

        :after,
        :before {
          box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

    

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff
        }

        button,
        input,
        select,
        textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit
        }

        a {
            color: #337ab7;
            text-decoration: none
        }

        a:focus,
        a:hover {
            color: #23527c;
            text-decoration: underline
        }

        a:focus {
            outline: thin dotted;
            outline: 5px auto ;
            outline-offset: -2px
        }

        figure {
            margin: 0
        }

        img {
            vertical-align: middle
        }

        .carousel-inner>.item>a>img,
        .carousel-inner>.item>img,
        .img-responsive,
        .thumbnail a>img,
        .thumbnail>img {
            display: block;
            max-width: 100%;
            height: auto
        }

        .img-rounded {
            border-radius: 6px
        }

        .img-thumbnail {
            display: inline-block;
            max-width: 100%;
            height: auto;
            padding: 4px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: all .2s ease-in-out;
           transition: all .2s ease-in-out;
            transition: all .2s ease-in-out
        }

        .img-circle {
            border-radius: 50%
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0
        }

        .sr-only-focusable:active,
        .sr-only-focusable:focus {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto
        }

        [role=button] {
            cursor: pointer
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit
        }

        .h1 .small,
        .h1 small,
        .h2 .small,
        .h2 small,
        .h3 .small,
        .h3 small,
        .h4 .small,
        .h4 small,
        .h5 .small,
        .h5 small,
        .h6 .small,
        .h6 small,
        h1 .small,
        h1 small,
        h2 .small,
        h2 small,
        h3 .small,
        h3 small,
        h4 .small,
        h4 small,
        h5 .small,
        h5 small,
        h6 .small,
        h6 small {
            font-weight: 400;
            line-height: 1;
            color: #777
        }

        .h1,
        .h2,
        .h3,
        h1,
        h2,
        h3 {
            margin-top: 20px;
            margin-bottom: 10px
        }

        .h1 .small,
        .h1 small,
        .h2 .small,
        .h2 small,
        .h3 .small,
        .h3 small,
        h1 .small,
        h1 small,
        h2 .small,
        h2 small,
        h3 .small,
        h3 small {
            font-size: 65%
        }

        .h4,
        .h5,
        .h6,
        h4,
        h5,
        h6 {
            margin-top: 10px;
            margin-bottom: 10px
        }

        .h4 .small,
        .h4 small,
        .h5 .small,
        .h5 small,
        .h6 .small,
        .h6 small,
        h4 .small,
        h4 small,
        h5 .small,
        h5 small,
        h6 .small,
        h6 small {
            font-size: 75%
        }

        .h1,
        h1 {
            font-size: 36px
        }

        .h2,
        h2 {
            font-size: 30px
        }

        .h3,
        h3 {
            font-size: 24px
        }

        .h4,
        h4 {
            font-size: 18px
        }

        .h5,
        h5 {
            font-size: 14px
        }

        .h6,
        h6 {
            font-size: 12px
        }

        p {
            margin: 0 0 10px
        }


        .lead {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.4
        }

        @media (min-width:768px) {
            .lead {
                font-size: 21px
            }
        }

        .small,
        small {
            font-size: 85%
        }

        .mark,
        mark {
            padding: .2em;
            background-color: #fcf8e3
        }

        .text-left {
            text-align: left
        }

        .text-right {
            text-align: right
        }

        .text-center {
            text-align: center
        }

        .text-justify {
            text-align: justify
        }

        .text-nowrap {
            white-space: nowrap
        }

        .text-lowercase {
            text-transform: lowercase
        }

        .text-uppercase {
            text-transform: uppercase
        }

        .text-capitalize {
            text-transform: capitalize
        }

        .text-muted {
            color: #777
        }

        .text-primary {
            color: #337ab7
        }

        a.text-primary:focus,
        a.text-primary:hover {
            color: #286090
        }

        .text-success {
            color: #3c763d
        }

        a.text-success:focus,
        a.text-success:hover {
            color: #2b542c
        }

        .text-info {
            color: #31708f
        }

        a.text-info:focus,
        a.text-info:hover {
            color: #245269
        }

        .text-warning {
            color: #8a6d3b
        }

        a.text-warning:focus,
        a.text-warning:hover {
            color: #66512c
        }

        .text-danger {
            color: #a94442
        }

        a.text-danger:focus,
        a.text-danger:hover {
            color: #843534
        }

        .bg-primary {
            color: #fff;
            background-color: #337ab7
        }

        a.bg-primary:focus,
        a.bg-primary:hover {
            background-color: #286090
        }

        .bg-success {
            background-color: #dff0d8
        }

        a.bg-success:focus,
        a.bg-success:hover {
            background-color: #c1e2b3
        }

        .bg-info {
            background-color: #d9edf7
        }

        a.bg-info:focus,
        a.bg-info:hover {
            background-color: #afd9ee
        }

        .bg-warning {
            background-color: #fcf8e3
        }

        a.bg-warning:focus,
        a.bg-warning:hover {
            background-color: #f7ecb5
        }

        .bg-danger {
            background-color: #f2dede
        }

        a.bg-danger:focus,
        a.bg-danger:hover {
            background-color: #e4b9b9
        }

        .page-header {
            padding-bottom: 9px;
            margin: 40px 0 20px;
            border-bottom: 1px solid #eee
        }

        ol,
        ul {
            margin-top: 0;
            margin-bottom: 10px
        }

        ol ol,
        ol ul,
        ul ol,
        ul ul {
            margin-bottom: 0
        }

        .list-unstyled {
            padding-left: 0;
            list-style: none
        }

        .list-inline {
            padding-left: 0;
            margin-left: -5px;
            list-style: none
        }

        .list-inline>li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px
        }

        dl {
            margin-top: 0;
            margin-bottom: 20px
        }

        dd,
        dt {
            line-height: 1.42857143
        }

        dt {
            font-weight: 700
        }

        dd {
            margin-left: 0
        }

        @media (min-width:768px) {
            .dl-horizontal dt {
                float: left;
                width: 160px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap
            }

            .dl-horizontal dd {
                margin-left: 180px
            }
        }

        abbr[data-original-title],
        abbr[title] {
            cursor: help;
            border-bottom: 1px dotted #777
        }

        .initialism {
            font-size: 90%;
            text-transform: uppercase
        }

        blockquote {
            padding: 10px 20px;
            margin: 0 0 20px;
            font-size: 17.5px;
            border-left: 5px solid #eee
        }

        blockquote ol:last-child,
        blockquote p:last-child,
        blockquote ul:last-child {
            margin-bottom: 0
        }

        blockquote .small,
        blockquote footer,
        blockquote small {
            display: block;
            font-size: 80%;
            line-height: 1.42857143;
            color: #777
        }

        blockquote .small:before,
        blockquote footer:before,
        blockquote small:before {
            content: '\2014 \00A0'
        }

        .blockquote-reverse,
        blockquote.pull-right {
            padding-right: 15px;
            padding-left: 0;
            text-align: right;
            border-right: 5px solid #eee;
            border-left: 0
        }

        .blockquote-reverse .small:before,
        .blockquote-reverse footer:before,
        .blockquote-reverse small:before,
        blockquote.pull-right .small:before,
        blockquote.pull-right footer:before,
        blockquote.pull-right small:before {
            content: ''
        }

        .blockquote-reverse .small:after,
        .blockquote-reverse footer:after,
        .blockquote-reverse small:after,
        blockquote.pull-right .small:after,
        blockquote.pull-right footer:after,
        blockquote.pull-right small:after {
            content: '\00A0 \2014'
        }

        address {
            margin-bottom: 20px;
            font-style: normal;
            line-height: 1.42857143
        }

        code,
        kbd,
        pre,
        samp {
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace
        }

        code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px
        }

        kbd {
            padding: 2px 4px;
            font-size: 90%;
            color: #fff;
            background-color: #333;
            border-radius: 3px;
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
        }

        kbd kbd {
            padding: 0;
            font-size: 100%;
            font-weight: 700;
           box-shadow: none;
            box-shadow: none
        }

        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px
        }

        pre code {
            padding: 0;
            font-size: inherit;
            color: inherit;
            white-space: pre-wrap;
            background-color: transparent;
            border-radius: 0
        }

        .pre-scrollable {
            max-height: 340px;
            overflow-y: scroll
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto
        }

        @media (min-width:768px) {
            .container {
                width: 750px
            }
        }

        @media (min-width:992px) {
            .container {
                width: 970px
            }
        }

        @media (min-width:1200px) {
            .container {
                width: 1170px
            }
        }

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto
        }

        .row {
            margin-right: -15px;
            margin-left: -15px
        }

        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-xs-1,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px
        }

        .col-xs-1,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9 {
            float: left
        }

        .col-xs-12 {
            width: 100%
        }

        .col-xs-11 {
            width: 91.66666667%
        }

        .col-xs-10 {
            width: 83.33333333%
        }

        .col-xs-9 {
            width: 75%
        }

        .col-xs-8 {
            width: 66.66666667%
        }

        .col-xs-7 {
            width: 58.33333333%
        }

        .col-xs-6 {
            width: 50%
        }

        .col-xs-5 {
            width: 41.66666667%
        }

        .col-xs-4 {
            width: 33.33333333%
        }

        .col-xs-3 {
            width: 25%
        }

        .col-xs-2 {
            width: 16.66666667%
        }

        .col-xs-1 {
            width: 8.33333333%
        }

        .col-xs-pull-12 {
            right: 100%
        }

        .col-xs-pull-11 {
            right: 91.66666667%
        }

        .col-xs-pull-10 {
            right: 83.33333333%
        }

        .col-xs-pull-9 {
            right: 75%
        }

        .col-xs-pull-8 {
            right: 66.66666667%
        }

        .col-xs-pull-7 {
            right: 58.33333333%
        }

        .col-xs-pull-6 {
            right: 50%
        }

        .col-xs-pull-5 {
            right: 41.66666667%
        }

        .col-xs-pull-4 {
            right: 33.33333333%
        }

        .col-xs-pull-3 {
            right: 25%
        }

        .col-xs-pull-2 {
            right: 16.66666667%
        }

        .col-xs-pull-1 {
            right: 8.33333333%
        }

        .col-xs-pull-0 {
            right: auto
        }

        .col-xs-push-12 {
            left: 100%
        }

        .col-xs-push-11 {
            left: 91.66666667%
        }

        .col-xs-push-10 {
            left: 83.33333333%
        }

        .col-xs-push-9 {
            left: 75%
        }

        .col-xs-push-8 {
            left: 66.66666667%
        }

        .col-xs-push-7 {
            left: 58.33333333%
        }

        .col-xs-push-6 {
            left: 50%
        }

        .col-xs-push-5 {
            left: 41.66666667%
        }

        .col-xs-push-4 {
            left: 33.33333333%
        }

        .col-xs-push-3 {
            left: 25%
        }

        .col-xs-push-2 {
            left: 16.66666667%
        }

        .col-xs-push-1 {
            left: 8.33333333%
        }

        .col-xs-push-0 {
            left: auto
        }

        .col-xs-offset-12 {
            margin-left: 100%
        }

        .col-xs-offset-11 {
            margin-left: 91.66666667%
        }

        .col-xs-offset-10 {
            margin-left: 83.33333333%
        }

        .col-xs-offset-9 {
            margin-left: 75%
        }

        .col-xs-offset-8 {
            margin-left: 66.66666667%
        }

        .col-xs-offset-7 {
            margin-left: 58.33333333%
        }

        .col-xs-offset-6 {
            margin-left: 50%
        }

        .col-xs-offset-5 {
            margin-left: 41.66666667%
        }

        .col-xs-offset-4 {
            margin-left: 33.33333333%
        }

        .col-xs-offset-3 {
            margin-left: 25%
        }

        .col-xs-offset-2 {
            margin-left: 16.66666667%
        }

        .col-xs-offset-1 {
            margin-left: 8.33333333%
        }

        .col-xs-offset-0 {
            margin-left: 0
        }

        @media (min-width:768px) {

            .col-sm-1,
            .col-sm-10,
            .col-sm-11,
            .col-sm-12,
            .col-sm-2,
            .col-sm-3,
            .col-sm-4,
            .col-sm-5,
            .col-sm-6,
            .col-sm-7,
            .col-sm-8,
            .col-sm-9 {
                float: left
            }

            .col-sm-12 {
                width: 100%
            }

            .col-sm-11 {
                width: 91.66666667%
            }

            .col-sm-10 {
                width: 83.33333333%
            }

            .col-sm-9 {
                width: 75%
            }

            .col-sm-8 {
                width: 66.66666667%
            }

            .col-sm-7 {
                width: 58.33333333%
            }

            .col-sm-6 {
                width: 50%
            }

            .col-sm-5 {
                width: 41.66666667%
            }

            .col-sm-4 {
                width: 33.33333333%
            }

            .col-sm-3 {
                width: 25%
            }

            .col-sm-2 {
                width: 16.66666667%
            }

            .col-sm-1 {
                width: 8.33333333%
            }

            .col-sm-pull-12 {
                right: 100%
            }

            .col-sm-pull-11 {
                right: 91.66666667%
            }

            .col-sm-pull-10 {
                right: 83.33333333%
            }

            .col-sm-pull-9 {
                right: 75%
            }

            .col-sm-pull-8 {
                right: 66.66666667%
            }

            .col-sm-pull-7 {
                right: 58.33333333%
            }

            .col-sm-pull-6 {
                right: 50%
            }

            .col-sm-pull-5 {
                right: 41.66666667%
            }

            .col-sm-pull-4 {
                right: 33.33333333%
            }

            .col-sm-pull-3 {
                right: 25%
            }

            .col-sm-pull-2 {
                right: 16.66666667%
            }

            .col-sm-pull-1 {
                right: 8.33333333%
            }

            .col-sm-pull-0 {
                right: auto
            }

            .col-sm-push-12 {
                left: 100%
            }

            .col-sm-push-11 {
                left: 91.66666667%
            }

            .col-sm-push-10 {
                left: 83.33333333%
            }

            .col-sm-push-9 {
                left: 75%
            }

            .col-sm-push-8 {
                left: 66.66666667%
            }

            .col-sm-push-7 {
                left: 58.33333333%
            }

            .col-sm-push-6 {
                left: 50%
            }

            .col-sm-push-5 {
                left: 41.66666667%
            }

            .col-sm-push-4 {
                left: 33.33333333%
            }

            .col-sm-push-3 {
                left: 25%
            }

            .col-sm-push-2 {
                left: 16.66666667%
            }

            .col-sm-push-1 {
                left: 8.33333333%
            }

            .col-sm-push-0 {
                left: auto
            }

            .col-sm-offset-12 {
                margin-left: 100%
            }

            .col-sm-offset-11 {
                margin-left: 91.66666667%
            }

            .col-sm-offset-10 {
                margin-left: 83.33333333%
            }

            .col-sm-offset-9 {
                margin-left: 75%
            }

            .col-sm-offset-8 {
                margin-left: 66.66666667%
            }

            .col-sm-offset-7 {
                margin-left: 58.33333333%
            }

            .col-sm-offset-6 {
                margin-left: 50%
            }

            .col-sm-offset-5 {
                margin-left: 41.66666667%
            }

            .col-sm-offset-4 {
                margin-left: 33.33333333%
            }

            .col-sm-offset-3 {
                margin-left: 25%
            }

            .col-sm-offset-2 {
                margin-left: 16.66666667%
            }

            .col-sm-offset-1 {
                margin-left: 8.33333333%
            }

            .col-sm-offset-0 {
                margin-left: 0
            }
        }

        @media (min-width:992px) {

            .col-md-1,
            .col-md-10,
            .col-md-11,
            .col-md-12,
            .col-md-2,
            .col-md-3,
            .col-md-4,
            .col-md-5,
            .col-md-6,
            .col-md-7,
            .col-md-8,
            .col-md-9 {
                float: left
            }

            .col-md-12 {
                width: 100%
            }

            .col-md-11 {
                width: 91.66666667%
            }

            .col-md-10 {
                width: 83.33333333%
            }

            .col-md-9 {
                width: 75%
            }

            .col-md-8 {
                width: 66.66666667%
            }

            .col-md-7 {
                width: 58.33333333%
            }

            .col-md-6 {
                width: 50%
            }

            .col-md-5 {
                width: 41.66666667%
            }

            .col-md-4 {
                width: 33.33333333%
            }

            .col-md-3 {
                width: 25%
            }

            .col-md-2 {
                width: 16.66666667%
            }

            .col-md-1 {
                width: 8.33333333%
            }

            .col-md-pull-12 {
                right: 100%
            }

            .col-md-pull-11 {
                right: 91.66666667%
            }

            .col-md-pull-10 {
                right: 83.33333333%
            }

            .col-md-pull-9 {
                right: 75%
            }

            .col-md-pull-8 {
                right: 66.66666667%
            }

            .col-md-pull-7 {
                right: 58.33333333%
            }

            .col-md-pull-6 {
                right: 50%
            }

            .col-md-pull-5 {
                right: 41.66666667%
            }

            .col-md-pull-4 {
                right: 33.33333333%
            }

            .col-md-pull-3 {
                right: 25%
            }

            .col-md-pull-2 {
                right: 16.66666667%
            }

            .col-md-pull-1 {
                right: 8.33333333%
            }

            .col-md-pull-0 {
                right: auto
            }

            .col-md-push-12 {
                left: 100%
            }

            .col-md-push-11 {
                left: 91.66666667%
            }

            .col-md-push-10 {
                left: 83.33333333%
            }

            .col-md-push-9 {
                left: 75%
            }

            .col-md-push-8 {
                left: 66.66666667%
            }

            .col-md-push-7 {
                left: 58.33333333%
            }

            .col-md-push-6 {
                left: 50%
            }

            .col-md-push-5 {
                left: 41.66666667%
            }

            .col-md-push-4 {
                left: 33.33333333%
            }

            .col-md-push-3 {
                left: 25%
            }

            .col-md-push-2 {
                left: 16.66666667%
            }

            .col-md-push-1 {
                left: 8.33333333%
            }

            .col-md-push-0 {
                left: auto
            }

            .col-md-offset-12 {
                margin-left: 100%
            }

            .col-md-offset-11 {
                margin-left: 91.66666667%
            }

            .col-md-offset-10 {
                margin-left: 83.33333333%
            }

            .col-md-offset-9 {
                margin-left: 75%
            }

            .col-md-offset-8 {
                margin-left: 66.66666667%
            }

            .col-md-offset-7 {
                margin-left: 58.33333333%
            }

            .col-md-offset-6 {
                margin-left: 50%
            }

            .col-md-offset-5 {
                margin-left: 41.66666667%
            }

            .col-md-offset-4 {
                margin-left: 33.33333333%
            }

            .col-md-offset-3 {
                margin-left: 25%
            }

            .col-md-offset-2 {
                margin-left: 16.66666667%
            }

            .col-md-offset-1 {
                margin-left: 8.33333333%
            }

            .col-md-offset-0 {
                margin-left: 0
            }
        }


        @media (min-width:1200px) {

            .col-lg-1,
            .col-lg-10,
            .col-lg-11,
            .col-lg-12,
            .col-lg-2,
            .col-lg-3,
            .col-lg-4,
            .col-lg-5,
            .col-lg-6,
            .col-lg-7,
            .col-lg-8,
            .col-lg-9 {
                float: left
            }

            .col-lg-12 {
                width: 100%
            }

            .col-lg-11 {
                width: 91.66666667%
            }

            .col-lg-10 {
                width: 83.33333333%
            }

            .col-lg-9 {
                width: 75%
            }

            .col-lg-8 {
                width: 66.66666667%
            }

            .col-lg-7 {
                width: 58.33333333%
            }

            .col-lg-6 {
                width: 50%
            }

            .col-lg-5 {
                width: 41.66666667%
            }

            .col-lg-4 {
                width: 33.33333333%
            }

            .col-lg-3 {
                width: 25%
            }

            .col-lg-2 {
                width: 16.66666667%
            }

            .col-lg-1 {
                width: 8.33333333%
            }

            .col-lg-pull-12 {
                right: 100%
            }

            .col-lg-pull-11 {
                right: 91.66666667%
            }

            .col-lg-pull-10 {
                right: 83.33333333%
            }

            .col-lg-pull-9 {
                right: 75%
            }

            .col-lg-pull-8 {
                right: 66.66666667%
            }

            .col-lg-pull-7 {
                right: 58.33333333%
            }

            .col-lg-pull-6 {
                right: 50%
            }

            .col-lg-pull-5 {
                right: 41.66666667%
            }

            .col-lg-pull-4 {
                right: 33.33333333%
            }

            .col-lg-pull-3 {
                right: 25%
            }

            .col-lg-pull-2 {
                right: 16.66666667%
            }

            .col-lg-pull-1 {
                right: 8.33333333%
            }

            .col-lg-pull-0 {
                right: auto
            }

            .col-lg-push-12 {
                left: 100%
            }

            .col-lg-push-11 {
                left: 91.66666667%
            }

            .col-lg-push-10 {
                left: 83.33333333%
            }

            .col-lg-push-9 {
                left: 75%
            }

            .col-lg-push-8 {
                left: 66.66666667%
            }

            .col-lg-push-7 {
                left: 58.33333333%
            }

            .col-lg-push-6 {
                left: 50%
            }

            .col-lg-push-5 {
                left: 41.66666667%
            }

            .col-lg-push-4 {
                left: 33.33333333%
            }

            .col-lg-push-3 {
                left: 25%
            }

            .col-lg-push-2 {
                left: 16.66666667%
            }

            .col-lg-push-1 {
                left: 8.33333333%
            }

            .col-lg-push-0 {
                left: auto
            }

            .col-lg-offset-12 {
                margin-left: 100%
            }

            .col-lg-offset-11 {
                margin-left: 91.66666667%
            }

            .col-lg-offset-10 {
                margin-left: 83.33333333%
            }

            .col-lg-offset-9 {
                margin-left: 75%
            }

            .col-lg-offset-8 {
                margin-left: 66.66666667%
            }

            .col-lg-offset-7 {
                margin-left: 58.33333333%
            }

            .col-lg-offset-6 {
                margin-left: 50%
            }

            .col-lg-offset-5 {
                margin-left: 41.66666667%
            }

            .col-lg-offset-4 {
                margin-left: 33.33333333%
            }

            .col-lg-offset-3 {
                margin-left: 25%
            }

            .col-lg-offset-2 {
                margin-left: 16.66666667%
            }

            .col-lg-offset-1 {
                margin-left: 8.33333333%
            }

            .col-lg-offset-0 {
                margin-left: 0
            }
        }

        table {
            background-color: transparent
        }

        caption {
            padding-top: 8px;
            padding-bottom: 8px;
            color: #777;
            text-align: left
        }

        th {
            text-align: left
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px
        }

        .table>tbody>tr>td,
        .table>tbody>tr>th,
        .table>tfoot>tr>td,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>thead>tr>th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd
        }



        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0
        }

        legend {
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
            font-size: 21px;
            line-height: inherit;
            color: #333;
            border: 0;
            border-bottom: 1px solid #e5e5e5
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700
        }
    

        output {
            display: block;
            padding-top: 7px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
           transition: border-color ease-in-out .15s; box-shadow: ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s; box-shadow: ease-in-out .15s;
            transition: border-color ease-in-out .15s; box-shadow: ease-in-out .15s;
        }





        .navbar-inverse .navbar-link {
            color: #9d9d9d
        }

        .navbar-inverse .navbar-link:hover {
            color: #fff
        }

        .navbar-inverse .btn-link {
            color: #9d9d9d
        }

        .navbar-inverse .btn-link:focus,
        .navbar-inverse .btn-link:hover {
            color: #fff
        }

        .navbar-inverse .btn-link[disabled]:focus,
        .navbar-inverse .btn-link[disabled]:hover,
        fieldset[disabled] .navbar-inverse .btn-link:focus,
        fieldset[disabled] .navbar-inverse .btn-link:hover {
            color: #444
        }

        .breadcrumb {
            padding: 8px 15px;
            margin-bottom: 20px;
            list-style: none;
            background-color: #f5f5f5;
            border-radius: 4px
        }

        .breadcrumb>li {
            display: inline-block
        }

        .breadcrumb>li+li:before {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0"
        }

        .breadcrumb>.active {
            color: #777
        }

        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px
        }

        .pagination>li {
            display: inline
        }

        .pagination>li>a,
        .pagination>li>span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd
        }

        .pagination>li:first-child>a,
        .pagination>li:first-child>span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }

        .pagination>li:last-child>a,
        .pagination>li:last-child>span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px
        }

        .pagination>li>a:focus,
        .pagination>li>a:hover,
        .pagination>li>span:focus,
        .pagination>li>span:hover {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd
        }

        .pagination>.active>a,
        .pagination>.active>a:focus,
        .pagination>.active>a:hover,
        .pagination>.active>span,
        .pagination>.active>span:focus,
        .pagination>.active>span:hover {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7
        }

        .pagination>.disabled>a,
        .pagination>.disabled>a:focus,
        .pagination>.disabled>a:hover,
        .pagination>.disabled>span,
        .pagination>.disabled>span:focus,
        .pagination>.disabled>span:hover {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd
        }

        .pagination-lg>li>a,
        .pagination-lg>li>span {
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333
        }

        .pagination-lg>li:first-child>a,
        .pagination-lg>li:first-child>span {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px
        }

        .pagination-lg>li:last-child>a,
        .pagination-lg>li:last-child>span {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px
        }

        .pagination-sm>li>a,
        .pagination-sm>li>span {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5
        }

        .pagination-sm>li:first-child>a,
        .pagination-sm>li:first-child>span {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }

        .pagination-sm>li:last-child>a,
        .pagination-sm>li:last-child>span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px
        }




        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2
        }

        .close:focus,
        .close:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5
        }

        button.close {
            appearance: none;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0
        }
        .quantity-area {margin-bottom:15px;}
        .quantity-area input#quantity {
            background: #fff;
            font-weight: 600;
            height: 45px;
            padding: 0;
            text-align: center;
            width: 70px;
            border: 1px solid #f5f5f5;
            border-left: none;
            border-right: none;
            border-radius: 1px;
            float: left;
            appearance: none;
        }
        .quantity-area input.qty-btn {
            float: left;
            background: #f5f5f5;
            border: solid 1px #f5f5f5;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            outline: none;
            height: 45px;
            width: 45px;
            text-align: center;
            border-radius: 0;
        }
        .button:hover {color:#fff;}
.button.dark {color: #fff;border-color: #000000;}
.button.dark:before {background-color:#000000;}
.button.dark:hover {color:#000000;}
.button:hover:before {
	transform-origin: right center;
	transform-origin: right center;
	transform: scale(0, 1);
	transform: scale(0, 1);
}
        button.btn-addtocart{
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: none;
            padding: 14px 35px;
            line-height: 22px;
            width:100%;
        }
        button.btn-addtocart[disabled] {opacity: 0.8;}
        .product-description {margin: 20px 0;}
        .product-description .title-bl h2,
        .product-description h2,
        .product-description h3{
            font-size:14px;	
            font-weight:700;
        }
        main.main-index{position: relative;	z-index:99;}
.button {
	position: relative;
	display: inline-block;
	padding: 10px 28px;
	line-height: normal;
	border: 1px solid #ffffff;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	background-color: transparent;

	z-index: 1;

	overflow: hidden;
}
.button:before {
	position: absolute;
	content: '';
	display: block;
	left: -2px;
	top: 0;
	right: -2px;
	bottom: 0;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	z-index: -1;
	background-color: #ffffff;
	-webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button:hover {color:#fff;}
.button.dark {color: #fff;/* border-color: #000000; */}
.button.dark:before {background-color:#000000;}
.button.dark:hover {color:#000000;}
.button:hover:before {
	transform-origin: right center;
	transform-origin: right center;
	transform: scale(0, 1);
	transform: scale(0, 1);
}
        .btn-group-vertical>.btn-group:after,
        .btn-group-vertical>.btn-group:before,
        .btn-toolbar:after,
        .btn-toolbar:before,
        .clearfix:after,
        .clearfix:before,
        .container-fluid:after,
        .container-fluid:before,
        .container:after,
        .container:before,
        .dl-horizontal dd:after,
        .dl-horizontal dd:before,
        .form-horizontal .form-group:after,
        .form-horizontal .form-group:before,
        .modal-footer:after,
        .modal-footer:before,
        .modal-header:after,
        .modal-header:before,
        .nav:after,
        .nav:before,
        .navbar-collapse:after,
        .navbar-collapse:before,
        .navbar-header:after,
        .navbar-header:before,
        .navbar:after,
        .navbar:before,
        .pager:after,
        .pager:before,
        .panel-body:after,
        .panel-body:before,
        .row:after,
        .row:before {
            display: table;
            content: " "
        }

        .btn-group-vertical>.btn-group:after,
        .btn-toolbar:after,
        .clearfix:after,
        .container-fluid:after,
        .container:after,
        .dl-horizontal dd:after,
        .form-horizontal .form-group:after,
        .modal-footer:after,
        .modal-header:after,
        .nav:after,
        .navbar-collapse:after,
        .navbar-header:after,
        .navbar:after,
        .pager:after,
        .panel-body:after,
        .row:after {
            clear: both
        }

        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto
        }

        .pull-right {
            float: right !important
        }

        .pull-left {
            float: left !important
        }

        .hide {
            display: none !important
        }

        .show {
            display: block !important
        }

        .invisible {
            visibility: hidden
        }

        .text-hide {
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0
        }

        .hidden {
            display: none !important
        }

        .affix {
            position: fixed
        }
        ul.products{
            list-style: none;
            /* dàn ngang */
            display: flex;
            /* xuống hàng */
            flex-wrap: wrap;
            /* dàn khung hiển thi theo hàng ngang */
            justify-content: space-between;
        }
        ul.products li{
            flex-basis: 50%;
            padding-left: 15px;
            padding-right: 15px;
            /* kích thước tính từ bên ngoài border tính vào */
            box-sizing: border-box;
            margin-bottom: 30px;
        }
        /* kích thước ảnh tối đa = khung */
        ul.products li img{
            max-width: 100%;
            height: auto;
        }
        ul.products li .product-top{
            /*  */
            position: relative;
            /* ẩn các phần bên ngoài*/
            overflow: hidden;
        }
        ul.products li .product-top .product-thumb{
            display: block;
        }
        ul.products li:hover .product-top .product-thumb img{
            filter:opacity(80%);
        }
        ul.products li .product-top .product-thumb img{
            display: block;
        }
        ul.products li .product-info {
            padding: 10px 0px;
        }
        ul.products li .product-info a {
            display: block;
            text-decoration: none;
        
        }
        ul.products li .product-info a.product-cat{
            font-size: 11px;
            text-transform: uppercase;
            color: #9e9e9e;
            /* trên- dưới , trái-phải */
            padding: 3px 0px;
        }
        ul.products li .product-info a.product-name
        {
            color: #334862;
            padding: 3px 0px;
        }
        ul.products li .product-info .product-price
        {
            color: #111;
            padding: 2px 0px;
            font-weight: 600;
        
        }
        #footer {
            width: 100%;
            background:rgb(0,0,0,0.79);
            height: 322px;
            margin-top:338px;
            padding:0px 63px;
            padding-top:57px;
            display: flex;
            justify-content: space-around;
        }
        #footer .box {
            width: 250px;
            color:#fff;
        }
        #footer .box .quick-menu {
            margin-top:40px;
        }
        #footer .box .quick-menu .item{
            margin-bottom:12px;
        
        }
        #footer .box .quick-menu ,.item a{
            color:#fff;
            text-decoration: none;
        }
        #footer .box form input {
            width: 294px;
            height: 42px;
            background:transparent;
            padding-left:20px;
            color:#fff;
            margin-top:30px;
        }
        #footer .box form button {
            background:#362f2f;
            box-shadow: 5px 5px 4px rgba(0,0,0.25);
            width: 163px;
            height: 38px;
            margin-top:29px;
            color:#fff;
        }
        .product-price {
            padding: 10px 0;
            border-bottom: 1px dotted #dfe0e1;
        }.product-title {
            padding: 0 0 10px;
            border-bottom: 1px dotted #dfe0e1;
        }.product-price span.pro-price {
            font-size: 18px;
            opacity: .92;
            font-weight: bold;
            color: red;
        }
   